.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    height: 550px; /* Устанавливаем фиксированную высоту */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.food-item:hover{
    transform: scale(1.02);
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-img-container .add:hover{
    border: 2px solid #FF4C24;
}
.food-item-image{
   width: 100%;
   border-radius: 15px 15px 0px 0px;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.food-item-counter img{
    width: 30px;
}
.food-item-info{
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 25px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    color: #676767;
    font-size: 13px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничиваем количество строк */
    -webkit-box-orient: vertical;
}
.food-item-price{
    color: #FF4C24;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

@media (max-width: 1024px) {
    .food-item {
        height: auto; /* Убираем фиксированную высоту */
        min-height: 350px; /* Минимальная высота для сохранения структуры */
    }

    .food-item-desc {
        -webkit-line-clamp: 2; /* Ограничиваем описание до 2 строк */
    }

    .food-item-counter {
        bottom: 10px;
        right: 10px;
    }

    .food-item-name-rating p {
        font-size: 22px; /* Уменьшаем размер текста */
    }

    .food-item-price {
        font-size: 20px;
    }
}
